@import 'tailwindcss';

:root {
    font-family: Gabarito, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.95);
    background-color: black;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
}

body,
html,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    scroll-behavior: auto; /* Lenis sköter smooth scroll */
    overflow-x: hidden; /* förhindra sidscroll */
}
body {
    position: static;
}

.sale-banner h1 {
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.arabica {
    transform: translateY(215px);
    transition: transform 0.9s;
}
